<p>Appointments List ({{ roleName }})</p>
<!-- <ul>
    <li *ngFor="let item of items" >
        <p>{{item.AppointmentId}}</p>
        <p>{{item.Title}}</p>
        <p>{{item.Description}}</p>
        <button (click)="updateItem(item.AppointmentId)">Actualizar</button>
        <button (click)="deleteItem(item.AppointmentId)">Borrar</button>
    </li>
</ul> -->
<ul>
    <li *ngFor="let item of appointment" >
        <p>{{item.appointmentId}}</p>
        <p>{{item.title}}</p>
        <p>{{item.description}}</p>
        <p>{{item.appointmentDate | date: 'dd/MM/yyyy hh:mm a'}}</p>
        <p>{{item.appointmentStatusName}}</p>
        <p>{{item.appointmentStatusId}}</p>
        <button (click)="updateItem(item)">Update</button>
        <button (click)="deleteAppointment(item.appointmentId)">Delete</button>
    </li>   
</ul>
