<p>Appointments List</p>
<!-- <ul>
    <li *ngFor="let item of items" >
        <p>{{item.AppointmentId}}</p>
        <p>{{item.Title}}</p>
        <p>{{item.Description}}</p>
        <button (click)="updateItem(item.AppointmentId)">Actualizar</button>
        <button (click)="deleteItem(item.AppointmentId)">Borrar</button>
    </li>
</ul> -->

<ul>
    <li *ngFor="let item of appointment" >
        <p>{{item.id}}</p>
        <p>{{item.title}}</p>
        <button (click)="updateItem(item.id)">Actualizar</button>
        <button (click)="deleteItem(item.id)">Borrar</button>
    </li>
</ul>
